<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yours Wheels - Contact Us</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="img/tab_logo.png" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logoMenu">
          <div>
            <a href="#" class="openbtn" onclick="openNav()">
              <i class="fa-solid fa-bars"></i
            ></a>
          </div>
          <img src="img/logo.png" class="logo" alt="" />
        </div>

        <div id="mySidebar" class="sidebar">
          <!-- Button to close the sidebar -->
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >×</a
          >
          <!-- Links -->
          <a href="/owned">Owned Vehicles</a>
          <a href="/latestCars">Latest Releases</a>
          <a href="futureCars">Future Releases</a>
          <a href="/trendingCars">Trending Vehicles</a>
          <a href="/buy_and_sell_cars">Buy Used Vehicles</a>
          <a href="/sell">Sell Used Vehicles</a>
          <a href="/rent">Rent Vehicles</a>
          <a href="/showrooms">Show Rooms</a>
          <a href="/seriveCenters">Service Centres</a>
          <a href="/faqs">FAQs</a>
        </div>
        <div class="menu">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/loans">Loans</a>
          <a href="/reviews">Reviews</a>
        </div>

        <div class="social">
          <a href="/search" class="tooltip"
            ><i class="fa-solid fa-magnifying-glass"
              ><span class="tooltiptext">Search</span></i
            ></a
          >
          <a href="/notification" class="tooltip"
            ><i class="fa-solid fa-bell"
              ><span class="tooltiptext">Notifications</span></i
            ></a
          >

          <a href="/login" class="tooltip"
            ><i class="fa-solid fa-user">
              <span class="tooltiptext">Login</span>
            </i></a
          >
        </div>
      </nav>
    </header>
    <div class="hero">
      <div class="text">
        <h1>Contact <br /><span>Your Wheels</span> <br /></h1>
        <p>
          Thank you for considering Your Wheels for your vehicle recommendations
          and rental needs! Whether you're seeking advice on the perfect vehicle
          tailored to your priorities or looking to explore the latest trends
          and future innovations in the automotive industry, we've got you
          covered. Our expert team is dedicated to providing personalized
          recommendations and ensuring your journey is both seamless and
          enjoyable. For inquiries, feel free to reach out to us via email at
          <span>yourwheels@gmail.com</span> or give us a call at +91 9876543210.
          We look forward to assisting you on your automotive adventures!
        </p>
      </div>
      <div class="vehicle" onclick="toggleIcon()">
        <i id="icon" class="fa-solid fa-motorcycle"></i>
      </div>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
