<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/faqs.css" />
    <title>Your Wheels - FAQs</title>
  </head>

  <body>
    <header style="background-color: black">
      <nav>
        <div class="logoMenu">
          <div>
            <a href="#" class="openbtn" onclick="openNav()">
              <i class="fa-solid fa-bars"></i
            ></a>
          </div>
        </div>

        <div id="mySidebar" class="sidebar">
          <!-- Button to close the sidebar -->
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >×</a
          >
          <!-- Links -->
          <a href="/latestCars">Latest Releases</a>
          <a href="futureCars">Future Releases</a>
          <a href="/trendingCars">Trending Vehicles</a>
          <a href="/rent">Rent Vehicles</a>
          <a href="/faqs">FAQs</a>
        </div>
        <div class="menu">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/loans">Loans</a>
          <a href="/reviews">Reviews</a>
        </div>

        <div class="social">
          <a href="/search" class="tooltip"
            ><i class="fa-solid fa-magnifying-glass"
              ><span class="tooltiptext">Search</span></i
            ></a
          >
          <a href="/notification" class="tooltip"
            ><i class="fa-solid fa-bell"
              ><span class="tooltiptext">Notifications</span></i
            ></a
          >

          <a href="/login" class="tooltip"
            ><i class="fa-solid fa-user">
              <span class="tooltiptext">Login</span>
            </i></a
          >
        </div>
      </nav>
    </header>
    <div class="faq-container">
      <h1>FAQ</h1>
      <div class="search-bar">
        <input type="text" placeholder="Search..." class="search" />
        <span class="material-symbols-outlined"> search </span>
      </div>
    </div>

    <div class="panels">
      <div class="panel">
        <h2>How to buy a vehicle?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
          doloribus quibusdam laudantium delectus excepturi ratione, consectetur
          placeat minima corrupti impedit?
        </p>
        <a href="#">Read More</a>
      </div>
      <div class="panel">
        <h2>How to rent a vehicle?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          commodi tempore atque doloribus nihil recusandae repudiandae natus
          maxime ad tenetur.
        </p>
        <a href="#">Read More</a>
      </div>
      <div class="panel">
        <h2>How to pay challan through online through this website?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          commodi tempore atque doloribus nihil recusandae repudiandae natus
          maxime ad tenetur.
        </p>
        <a href="#">Read More</a>
      </div>
      <div class="panel">
        <h2>How upload rating for a vehicle?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          commodi tempore atque doloribus nihil recusandae repudiandae natus
          maxime ad tenetur.
        </p>
        <a href="#">Read More</a>
      </div>
      <div class="panel">
        <h2>How to rate this website?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          commodi tempore atque doloribus nihil recusandae repudiandae natus
          maxime ad tenetur.
        </p>
        <a href="#">Read More</a>
      </div>
      <div class="panel">
        <h2>How to buy spare parts of a vehicle?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          commodi tempore atque doloribus nihil recusandae repudiandae natus
          maxime ad tenetur.
        </p>
        <a href="#">Read More</a>
      </div>
      <div class="panel">
        <h2>How to learn driving?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          commodi tempore atque doloribus nihil recusandae repudiandae natus
          maxime ad tenetur.
        </p>
        <a href="#">Read More</a>
      </div>
      <div class="panel">
        <h2>What are best cars of 2022?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          commodi tempore atque doloribus nihil recusandae repudiandae natus
          maxime ad tenetur.
        </p>
        <a href="#">Read More</a>
      </div>
    </div>
    <script src="js/faqs.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
