<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Wheels - Latest Bike Releases</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="icon" href="img/tab_logo.png" />
    <link rel="stylesheet" href="css/latest.css" />

    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header style="background-color: black">
      <nav>
        <div class="logoMenu">
          <div>
            <a href="#" class="openbtn" onclick="openNav()">
              <i class="fa-solid fa-bars"></i
            ></a>
          </div>
        </div>

        <div id="mySidebar" class="sidebar">
          <!-- Button to close the sidebar -->
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >×</a
          >
          <!-- Links -->
          <a href="/latestCars">Latest Releases</a>
          <a href="futureCars">Future Releases</a>
          <a href="/trendingCars">Trending Vehicles</a>
          <a href="/rent">Rent Vehicles</a>
          <a href="/faqs">FAQs</a>
        </div>
        <div class="menu">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/loans">Loans</a>
          <a href="/reviews">Reviews</a>
        </div>

        <div class="social">
          <a href="/search" class="tooltip"
            ><i class="fa-solid fa-magnifying-glass"
              ><span class="tooltiptext">Search</span></i
            ></a
          >
          <a href="/notification" class="tooltip"
            ><i class="fa-solid fa-bell"
              ><span class="tooltiptext">Notifications</span></i
            ></a
          >
          <a href="/login" class="tooltip"
            ><i class="fa-solid fa-user">
              <span class="tooltiptext">Login</span>
            </i></a
          >
        </div>
      </nav>
    </header>
    <main class="z-index">
      <div class="cars">
        <h1>Latest Bikes</h1>
        <div class="cards-container">
          <div class="card">
            <div class="number-badge">1</div>
            <div class="img-container">
              <img src="img/bike1.webp" alt="" />
            </div>
            <h3>Honda</h3>
            <p>1 Lakh</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">2</div>
            <div class="img-container">
              <img src="img/bike2.webp" alt="" />
            </div>
            <h3>Yamaha</h3>
            <p>3 lakh</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">3</div>
            <div class="img-container">
              <img src="img/bike3.jpg" alt="" />
            </div>
            <h3>Suzuki</h3>
            <p>2 Lakh</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">4</div>
            <div class="img-container">
              <img src="img/bike4.jpeg" alt="" />
            </div>
            <h3>Royal Enfield</h3>
            <p>1 Lakh</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">5</div>
            <div class="img-container">
              <img src="img/bike5.jpeg" alt="" />
            </div>
            <h3>Kawasaki</h3>
            <p>4 lakh</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">6</div>
            <div class="img-container">
              <img src="img/bike6.webp" alt="" />
            </div>
            <h3>Harley Davidson</h3>
            <p>65 Lakh</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">7</div>
            <div class="img-container">
              <img src="img/bike7.jpeg" alt="" />
            </div>
            <h3>Ducati</h3>
            <p>10 Lakh</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">8</div>
            <div class="img-container">
              <img src="img/bike8.jpeg" alt="" />
            </div>
            <h3>KTM</h3>
            <p>1 Lakh</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">9</div>
            <div class="img-container">
              <img src="img/bike9.webp" alt="" />
            </div>
            <h3>Moto Gucci</h3>
            <p>2 Lakh</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">10</div>
            <div class="img-container">
              <img src="img/bike10.jpeg" alt="" />
            </div>
            <h3>Husqvarna</h3>
            <p>5 Lakh</p>
            <button>Learn More</button>
          </div>
        </div>
      </div>
    </main>
    <a href="/latestCars"
      ><div class="vehicle">
        <i id="icon" class="fa-solid fa-car-side"></i></div
    ></a>

    <script src="js/script.js"></script>
  </body>
</html>
