<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Wheels - Latest Car Releases</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="icon" href="img/tab_logo.png" />
    <link rel="stylesheet" href="css/latest.css" />

    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header style="background-color: black">
      <nav>
        <div class="logoMenu">
          <div>
            <a href="#" class="openbtn" onclick="openNav()">
              <i class="fa-solid fa-bars"></i
            ></a>
          </div>
        </div>

        <div id="mySidebar" class="sidebar">
          <!-- Button to close the sidebar -->
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >×</a
          >
          <!-- Links -->

          <a href="/latestCars">Latest Releases</a>
          <a href="futureCars">Future Releases</a>
          <a href="/trendingCars">Trending Vehicles</a>
          <a href="/rent">Rent Vehicles</a>
          <a href="/faqs">FAQs</a>
        </div>
        <div class="menu">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/loans">Loans</a>
          <a href="/reviews">Reviews</a>
        </div>

        <div class="social">
          <a href="/search" class="tooltip"
            ><i class="fa-solid fa-magnifying-glass"
              ><span class="tooltiptext">Search</span></i
            ></a
          >
          <a href="/notification" class="tooltip"
            ><i class="fa-solid fa-bell"
              ><span class="tooltiptext">Notifications</span></i
            ></a
          >

          <a href="/login" class="tooltip"
            ><i class="fa-solid fa-user">
              <span class="tooltiptext">Login</span>
            </i></a
          >
        </div>
      </nav>
    </header>
    <main class="z-index">
      <div class="cars">
        <h1>Latest Cars</h1>
        <div class="cards-container">
          <div class="card">
            <div class="number-badge">1</div>
            <div class="img-container">
              <img src="img/rent1.jpeg" alt="" />
            </div>
            <h3>Maruti Suzuki</h3>
            <p>50 Lakh</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">2</div>

            <div class="img-container">
              <img src="img/rent2.jpeg" alt="" />
            </div>
            <h3>Hyundai</h3>
            <p>70 lakh</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">3</div>

            <div class="img-container">
              <img src="img/rent3.jpeg" alt="" />
            </div>
            <h3>Tata</h3>
            <p>60 Lakh</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">4</div>

            <div class="img-container">
              <img src="img/rent4.jpeg" alt="" />
            </div>
            <h3>Mahindra</h3>
            <p>75 Lakh</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">5</div>

            <div class="img-container">
              <img src="img/rent5.jpeg" alt="" />
            </div>
            <h3>Toyota</h3>
            <p>1 Cr</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">6</div>

            <div class="img-container">
              <img src="img/rent6.jpeg" alt="" />
            </div>
            <h3>Ford</h3>
            <p>65 Lakh</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">7</div>

            <div class="img-container">
              <img src="img/rent7.jpeg" alt="" />
            </div>
            <h3>Renault</h3>
            <p>40 Lakh</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">8</div>

            <div class="img-container">
              <img src="img/rent8.webp" alt="" />
            </div>
            <h3>Nissan</h3>
            <p>80 Lakh</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">9</div>

            <div class="img-container">
              <img src="img/rent9.jpg" alt="" />
            </div>
            <h3>Vitara Breeza</h3>
            <p>80 Lakh</p>
            <button>Learn More</button>
          </div>
          <div class="card">
            <div class="number-badge">10</div>

            <div class="img-container">
              <img src="img/rent10.jpg" alt="" />
            </div>
            <h3>Harrier</h3>
            <p>80 Lakh</p>
            <button>Learn More</button>
          </div>
        </div>
      </div>
    </main>
    <a href="/latestBikes"
      ><div class="vehicle">
        <i id="icon" class="fa-solid fa-motorcycle"></i></div
    ></a>

    <script src="js/script.js"></script>
  </body>
</html>
