<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/login.css" />
    <title>Your Wheels - Login to Continue</title>
    <link rel="icon" href="img/tab_logo.png" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logoMenu">
          <div>
            <a href="#" class="openbtn" onclick="openNav()">
              <i class="fa-solid fa-bars"></i
            ></a>
          </div>
        </div>

        <div id="mySidebar" class="sidebar">
          <!-- Button to close the sidebar -->
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >×</a
          >
          <!-- Links -->
          <a href="/latestCars">Latest Releases</a>
          <a href="futureCars">Future Releases</a>
          <a href="/trendingCars">Trending Vehicles</a>
          <a href="/rent">Rent Vehicles</a>
          <a href="/faqs">FAQs</a>
        </div>
        <div class="menu">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/reviews">Reviews</a>
        </div>
        <div class="social">
          <a href="/notification" class="tooltip"
            ><i class="fa-solid fa-bell"
              ><span class="tooltiptext">Notifications</span></i
            ></a
          >

          <a href="/login" class="tooltip"
            ><i class="fa-solid fa-user">
              <span class="tooltiptext">Login</span>
            </i></a
          >
        </div>
      </nav>
    </header>
    <div class="hero">
      <div class="text">
        <form method="POST" action="/login">
          <h1 class="heading">Welcome Back!</h1>
          <p class="caption">Login to Continue</p>
          <br />
          <label for="username"></label>
          <input
            type="text"
            placeholder="Enter Username"
            id="username"
            name="username"
          />
          <br />
          <label for="password"></label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter Password"
          />
          <br />
          <br />
          <div class="buttons">
            <button type="submit" class="login">LOGIN</button>
            <a href="/signup" class="signupbutton">No Account? Sign Up</a>
            <a href="/adminLogin" class="signupbutton">Admin Login</a>
            <!-- <a href="/employeeLogin" class="signupbutton">Employee Login</a> -->
          </div>
        </form>
      </div>
      <div class="vehicle" onclick="toggleIcon()">
        <i id="icon" class="fa-solid fa-motorcycle"></i>
      </div>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
