<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Wheels - Account Details</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="icon" href="img/tab_logo.png" />

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/ownedvehicles.css" />
  </head>
  <body>
    <header style="background-color: black">
      <nav>
        <div class="logoMenu">
          <img src="img/logo.png" class="logo" alt="" />
        </div>
        <div class="menu">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/loans">Loans</a>
          <a href="/reviews">Reviews</a>
        </div>

        <div class="social">
          <a href="/notification" class="tooltip"
            ><i class="fa-solid fa-bell"
              ><span class="tooltiptext">Notifications</span></i
            ></a
          >
          <a href="/login" class="tooltip"
            ><i class="fa-solid fa-user">
              <span class="tooltiptext">Login</span>
            </i></a
          >
        </div>
      </nav>
    </header>
    <main>
      <div class="outerDiv">
        <div class="sideMenu">
          <h3>General</h3>
          <div class="option">
            <i class="fa-solid fa-user"></i>
            <a href="/accountDetails">Account Details</a>
          </div>
          <div class="option">
            <i class="fa-solid fa-pen"></i>
            <a href="/updateDetails">Update Details</a>
          </div>

          <form action="/logout" method="GET">
            <button type="submit" class="logout">Logout</button>
          </form>
        </div>
        <div class="owned-container">
          <div class="owned-cars-container">
            <a href="/accountDetails"> Go back </a>
            <h1>Your Cars</h1>
            <div class="owned-card-container">
              <div class="owned-card">
                <div class="image">
                  <img src="img/rent10.jpg" alt="" />
                  <div class="action-links">
                    <div class="a-tag-bg">
                      <p onclick="details(0)">Details</p>
                      <p onclick="service(0)">Service History</p>
                      <p onclick="insurance(0)">Insurance</p>
                    </div>
                    <div class="vehicle-details">
                      <div class="details">
                        <h1>Tata</h1>
                        <p>Model Name : Harrier</p>
                        <p>Car bought date : 22/10/2020</p>
                      </div>
                      <div class="service-history">
                        <ul>
                          <li>
                            <strong>Date:</strong> 2023-01-15<br />
                            <strong>Mileage:</strong> 5000<br />
                            <strong>Service Type:</strong> Oil Change<br />
                            <strong>Description:</strong> Replaced engine oil
                            and oil filter.
                          </li>
                          <li>
                            <strong>Date:</strong> 2023-04-20<br />
                            <strong>Mileage:</strong> 10000<br />
                            <strong>Service Type:</strong> Tire Rotation<br />
                            <strong>Description:</strong> Rotated tires for even
                            wear.
                          </li>
                          <li>
                            <strong>Date:</strong> 2023-07-10<br />
                            <strong>Mileage:</strong> 15000<br />
                            <strong>Service Type:</strong> Brake Inspection<br />
                            <strong>Description:</strong> Inspected brake pads
                            and rotors for wear and tear.
                          </li>
                          <li>
                            <strong>Date:</strong> 2023-10-05<br />
                            <strong>Mileage:</strong> 20000<br />
                            <strong>Service Type:</strong> Full Service<br />
                            <strong>Description:</strong> Performed
                            comprehensive inspection, replaced air filter,
                            checked fluid levels.
                          </li>
                        </ul>
                      </div>
                      <div class="insurance">
                        <p><strong>Policy Holder:</strong> John Doe</p>
                        <p>
                          <strong>Address:</strong> 123 Main St, Anytown, USA
                        </p>
                        <p><strong>Email:</strong> johndoe@example.com</p>
                        <p><strong>Phone:</strong> +1 (555) 123-4567</p>
                        <br />
                        <p><strong>Car Make:</strong> Tata</p>
                        <p><strong>Car Model:</strong> Harrier</p>
                        <p><strong>Car Year:</strong> 2020</p>
                        <br />
                        <p>
                          <strong>Insurance Provider:</strong> ABC Insurance
                          Company
                        </p>
                        <p><strong>Policy Number:</strong> P123456789</p>
                        <p><strong>Effective Date:</strong> 2023-01-01</p>
                        <p><strong>Expiry Date:</strong> 2024-01-01</p>
                        <br />
                        <p><strong>Coverage Details:</strong></p>
                        <ul>
                          <li>
                            <strong>Liability:</strong> Limit: $100,000,
                            Deductible: $500
                          </li>
                          <li>
                            <strong>Collision:</strong> Limit: Actual Cash
                            Value, Deductible: $1000
                          </li>
                          <li>
                            <strong>Comprehensive:</strong> Limit: Actual Cash
                            Value, Deductible: $500
                          </li>
                          <li>
                            <strong>Uninsured Motorist:</strong> Limit: $50,000,
                            Deductible: $500
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Second Owned Card -->
              <div class="owned-card">
                <div class="image">
                  <img src="img/rent8.webp" alt="" />
                  <div class="action-links">
                    <div class="a-tag-bg">
                      <p onclick="details(1)">Details</p>
                      <p onclick="service(1)">Service History</p>
                      <p onclick="insurance(1)">Insurance</p>
                    </div>
                    <div class="vehicle-details">
                      <div class="details">
                        <h1>Nissan</h1>
                        <p>Model Name : Sunny</p>
                        <p>Car bought date : 27/01/2023</p>
                      </div>
                      <div class="service-history">
                        <p>Car Make: Nissan</p>
                        <p>Car Model: Sunny</p>
                        <p>VIN: 2HGES165X6H548791</p>
                        <p>Service History:</p>
                        <ul>
                          <li>
                            <strong>Date:</strong> 2023-02-10<br />
                            <strong>Mileage:</strong> 6000<br />
                            <strong>Service Type:</strong> Oil Change<br />
                            <strong>Description:</strong> Performed oil change
                            using synthetic oil.
                          </li>
                          <li>
                            <strong>Date:</strong> 2023-05-20<br />
                            <strong>Mileage:</strong> 12000<br />
                            <strong>Service Type:</strong> Brake Pad
                            Replacement<br />
                            <strong>Description:</strong> Replaced front and
                            rear brake pads.
                          </li>
                          <li>
                            <strong>Date:</strong> 2023-09-15<br />
                            <strong>Mileage:</strong> 18000<br />
                            <strong>Service Type:</strong> Wheel Alignment<br />
                            <strong>Description:</strong> Adjusted wheel
                            alignment for better handling.
                          </li>
                          <li>
                            <strong>Date:</strong> 2024-01-05<br />
                            <strong>Mileage:</strong> 24000<br />
                            <strong>Service Type:</strong> Battery
                            Replacement<br />
                            <strong>Description:</strong> Installed a new
                            battery.
                          </li>
                        </ul>
                      </div>
                      <div class="insurance">
                        <p><strong>Policy Holder:</strong> John Doe</p>
                        <p>
                          <strong>Address:</strong> 123 Main St, Anytown, USA
                        </p>
                        <p><strong>Email:</strong> johndoe@example.com</p>
                        <p><strong>Phone:</strong> +1 (555) 123-4567</p>
                        <br />
                        <p><strong>Car Make:</strong> Toyota</p>
                        <p><strong>Car Model:</strong> Camry</p>
                        <p><strong>Car Year:</strong> 2020</p>
                        <p><strong>VIN:</strong> 1HGCM82633A004352</p>
                        <br />
                        <p>
                          <strong>Insurance Provider:</strong> ABC Insurance
                          Company
                        </p>
                        <p><strong>Policy Number:</strong> P123456789</p>
                        <p><strong>Effective Date:</strong> 2023-01-01</p>
                        <p><strong>Expiry Date:</strong> 2024-01-01</p>
                        <br />
                        <p><strong>Coverage Details:</strong></p>
                        <ul>
                          <li>
                            <strong>Liability:</strong> Limit: $100,000,
                            Deductible: $500
                          </li>
                          <li>
                            <strong>Collision:</strong> Limit: Actual Cash
                            Value, Deductible: $1000
                          </li>
                          <li>
                            <strong>Comprehensive:</strong> Limit: Actual Cash
                            Value, Deductible: $500
                          </li>
                          <li>
                            <strong>Uninsured Motorist:</strong> Limit: $50,000,
                            Deductible: $500
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="js/script.js"></script>
    <script src="js/owned.js"></script>
  </body>
</html>
