<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Wheels - Bike Releases</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="icon" href="img/tab_logo.png" />

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/reviews.css" />
  </head>
  <body>
    <header style="background-color: black">
      <nav>
        <div class="logoMenu">
          <div>
            <a href="#" class="openbtn" onclick="openNav()">
              <i class="fa-solid fa-bars"></i
            ></a>
          </div>
        </div>

        <div id="mySidebar" class="sidebar">
          <!-- Button to close the sidebar -->
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >×</a
          >
          <!-- Links -->
          <a href="/latestCars">Latest Releases</a>
          <a href="futureCars">Future Releases</a>
          <a href="/trendingCars">Trending Vehicles</a>
          <a href="/rent">Rent Vehicles</a>
          <a href="/faqs">FAQs</a>
        </div>
        <div class="menu">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/reviews">Reviews</a>
        </div>

        <div class="social">
          <a href="/search" class="tooltip"
            ><i class="fa-solid fa-magnifying-glass"
              ><span class="tooltiptext">Search</span></i
            ></a
          >
          <a href="/notification" class="tooltip"
            ><i class="fa-solid fa-bell"
              ><span class="tooltiptext">Notifications</span></i
            ></a
          >
          
          <a href="/login" class="tooltip"
            ><i class="fa-solid fa-user">
              <span class="tooltiptext">Login</span>
            </i></a
          >
        </div>
      </nav>
    </header>
    <main>
      <div class="review-container">
        <h1>Leave a Review</h1>
        <div class="user-review">
          <form action="/submit-review" method="post">
            <div class="form-container">
              <div class="formElement">
                <label for="your-name"></label>
                <input type="text" id="your-name" name="your-name" placeholder="Enter your name" required/>  
              </div>
              <div class="formElement">
                <label for="vehicle-type"></label>
                <select id="vehicle-type" name="vehicle-type">
                  <option value="">Select Vehicle Type</option>
                  <option value="car">Car</option>
                  <option value="motorcycle">Motorcycle</option>
                </select>
              </div>
              <div class="formElement">
                <label for="rating"></label>
                <select id="rating" name="rating">
                  <option value="">Select Rating</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>

                </select>
              </div>
              <div class="formElement">
                <label for="vehicle-name"></label>
                <input type="text" id="vehicle-name" name="vehicle-name" placeholder="Enter vehicle name" required/>
              </div>
              <div class="formElement">
                <label for="review-title"></label>
                <input type="text" id="review-title" name="review-title" placeholder="Enter Review Title" required/>
              </div>
              <div class="formElement">
                <label for="vehicle-model"></label>
                <input type="text" id="vehicle-name" name="vehicle-model" placeholder="Enter vehicle model" required />
              </div>
              <div class="formElement">
                <label for="date">Select Date</label>
                <input type="date" id="date" name="">
              </div>
            </div>
            
            <div class="formElement">
              <label for="comment"></label><br />
              <textarea
                id="comment"
                name="comment"
                rows="4"
                cols="50"
                placeholder="Enter your comment here"
                required
              ></textarea>
            </div>
           
            <button type="submit">Submit</button>
          </form>
        </div>
        </div>
        <div class="review-container">
          <div class="review-card-container">
            <h1>User Reviews</h1>
            <div class="card-container">
              <div class="review-card">
                <div class="image">
                    <img src="img/reviewBike1.webp" /></div>
                <div class="review-content">
                  <h2>Passion Plus</h2>
                  <hr>
                  <h3>Timeless Appeal: Hero Passion Plus</h3>
                  <p>
                    The Hero Passion Plus, recommended by Your Wheels website, embodies simplicity and reliability. Its timeless design, fuel-efficient engine, and comfortable ride make it an ideal choice for daily commuting and city navigation. With Hero's reputation for durability and affordability, the Passion Plus continues to be a popular option for riders seeking an economical yet dependable motorcycle.
                  </p>
                  <h4>By Manisha Sharma</h4>
                  <p> on dec 11 2022 | 239 views</p>
                  <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                </div>
              </div>
              <div class="review-card">
                <div class="image">
                    <img src="img/reviewBike2.webp" />
                </div>
                <div class="review-content">
                    <h2>Royal Enfiled  Meteor 350</h2>
                    <hr>
                    <h3>Cruising in Style: Royal Enfield Meteor 350</h3>
                    <p>
                        Suggested by Your Wheels website, the Royal Enfield Meteor 350 is a delightful cruiser that combines classic design with modern features. Its smooth ride, retro charm, and comfortable ergonomics make it perfect for leisurely rides and urban commuting alike. With reliable performance and a touch of nostalgia, it's a standout choice for motorcycle enthusiasts seeking an authentic riding experience.
                    </p>
                    <h4>By Mukesh Kumar</h4>
                    <p>  on Nov 4 2022 | 467 views</p>
                    <div class="star">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    </div>
                  </div>
              </div>
              <div class="review-card">
                <div class="image">
                <img src="img/reviewBike3.webp" />

                </div>
                <div class="review-content">
                    <h2>KTM Brabus 1400 R</h2>
                    <hr>
                    <h3>Unleashing Power: KTM Brabus 1400 R</h3>
                    <p>
                        Suggested by Your Wheels website, the KTM Brabus 1400 R is a high-performance machine designed for thrill-seekers. With its powerful engine, agile handling, and advanced technology, it offers an exhilarating riding experience on both the track and the street. Despite its aggressive demeanor, its refined engineering and ergonomic design ensure comfort and control for riders pushing the limits of speed and precision.
                    </p>
                    <h4>By Yogi Sharma</h4>
                    <p> on jun 20 2022 | 354 views</p>
                    <div class="star">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    </div>
                  </div>
              </div>
              <div class="review-card">
                <div class="image">
                    <img src="img/bike1.webp" />
                </div>
                <div class="review-content">
                  <h2>Honda</h2>
                  <hr>
                  <h3>Effortless Mobility: Honda</h3>
                  <p>
                    Recommended by Your Wheels website, the Honda Activa 125 FI sets a benchmark for urban mobility. Its refined fuel-injected engine delivers smooth performance and excellent fuel efficiency, making it perfect for daily commutes. With a comfortable ride, spacious storage, and Honda's renowned reliability, the Activa 125 FI remains a top choice for those seeking convenience and practicality in their everyday travels.
                  </p>
                  <h4>By Mahesh</h4>
                  <p> on jul 14 2020 | 210 Views</p>
                  <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                </div>
              </div>
              <div class="review-card">
                <div class="image">
                    <img src="img/bike5.jpeg" />
                </div>
                <div class="review-content">
                    <h2>Ducati Monster</h2>
                    <hr>
                    <h3>Iconic Thrills: Ducati Monster</h3>
                    <p>
                        As suggested by Your Wheels website, the Ducati Monster embodies the essence of naked bike excellence. With its striking design, potent engine, and agile handling, it delivers an exhilarating ride experience. Whether navigating city streets or carving through winding roads, the Monster offers a blend of style, performance, and versatility that captivates riders seeking an adrenaline-fueled adventure.
                    </p>
                    <h4>By Niharika Chowdary</h4>
                    <p>on dec 11 2022 |239 views</p>
                    <div class="star">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    </div>
                  </div>
              </div>
              <div class="review-card">
                <div class="image">
                    <img src="img/bike6.webp" />
                </div>
                <div class="review-content">
                    <h2>Kawasaki Ninja H2R </h2>
                    <hr>
                    <h3>Unleashing the Beast: Kawasaki Ninja H2R </h3>
                    <p>
                        Embraced by Your Wheels website, the Kawasaki Ninja H2R is a force to be reckoned with in the world of super sport bikes. Its supercharged engine, track-focused design, and cutting-edge technology push the boundaries of performance and speed. With mind-bending acceleration and precision engineering, the Ninja H2R offers an adrenaline-fueled experience reserved for the most daring riders on the track.
                    </p>
                    <h4>By Musheer Khan</h4>
                    <p> on oct 4 2021 | 390 views</p>
                    <div class="star">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    </div>
                  </div>
              </div>
              <div class="review-card">
                <div class="image">
                    <img src="img/reviewBike7.webp" />
                </div>
                <div class="review-content">
                    <h2>JAWA 350 Orange</h2>
                    <hr>
                    <h3>Classic Elegance: JAWA 350 Orange</h3>
                    <p>
                        Endorsed by Your Wheels website, the JAWA 350 Orange exudes timeless charm and sophistication. With its retro styling, refined performance, and comfortable ride, it pays homage to its iconic heritage while embracing modern advancements. Ideal for urban cruising and leisurely rides, the JAWA 350 Orange captures the hearts of enthusiasts with its distinctive design and nostalgic appeal.
                    </p>
                    <h4>By Yashir</h4>
                    <p> on jan 3 2023 | 120 views</p>
                    <div class="star">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    </div>
                  </div>
              </div>
              <div class="review-card">
                <div class="image">
                <img src="img/reviewBike8.webp" />
                </div>
                <div class="review-content">
                    <h2>TVS Apache RTR 160 4V</h2>
                    <hr>
                    <h3>Power and Precision: TVS Apache RTR 160 4V</h3>
                    <p>
                        Championed by Your Wheels website, the TVS Apache RTR 160 4V is a dynamic blend of performance and agility. Its refined engine delivers impressive power and torque, ensuring thrilling acceleration and responsive handling. With its sporty design, advanced features, and comfortable ergonomics, the Apache RTR 160 4V offers an exhilarating riding experience that sets it apart in the commuter segment, making it a top choice for riders seeking excitement and precision on the road
                    </p>
                    <h4>By Vinay Reddy</h4>
                    <p> on nov 22 2023 | 76 views</p>
                    <div class="star">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </main>
    <a href="/reviews"
    ><div class="vehicle">
      <i id="icon" class="fa-solid fa-car-side"></i></div
  ></a>
    <script src="js/script.js"></script>
  </body>
</html>
