.Form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchAndFilters {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.searchAndFilters input {
  margin: 0;
  border-radius: 10px;
  width: 200px;
  padding: 10px 10px 10px 20px;
  margin-right: 20px;
}

.searchAndFilters button {
  margin: 0;
  height: 40px;
  width: 90px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.searchAndFilters select {
  width: fit-content;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 10px 0 10px 10px;
  margin: 20px 20px 20px 20px;
}
.filters {
  display: flex;
}

.img-container img {
  object-fit: contain;
  object-position: center;
}
.card a {
  width: 100%;
  background-color: rgb(0, 166, 255);
  border: 0 0 20px 20px;
  color: white;
  text-align: center;
  margin-top: 10px;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
